.container {
    position: relative;
    margin: auto;
    padding: 0 5%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.item {
    width: 14%;
    position: relative;
    text-align: center;
}

.item p {
    width: 100%;
    margin: 0;
    font-weight: bold;
    font-size: 15pt;

    position: absolute;
    top: 75%;
}

.item img {
    transition: all .2s ease-in-out; 
}

.item :hover img {
    transform: scale(1.15);
}

.item a:hover {
    text-decoration: none;
}

@media screen and (max-width: 996px) {
    .item {
        width: 45%;
    }

    .container {
        padding-bottom: 15%;
    }
}